<configuration>
    <system.webServer>
        <handlers>
            <add name="Flask" path="" verb="" modules="FastCgiModule" scriptProcessor="flask-server\venv\Scripts\python.exe|flask-server\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>

    <appSettings>
        <add key="WSGI_HANDLER" value="server.app" />
        <add key="PYTHONPATH" value="flask-server" />
    </appSettings>
</configuration>